/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #B45F06;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.mole-logo {
    margin: 10px 10px 0 0;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.game-arena {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.hole {
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.hole.active {
    background-color: #9900FF;
}

.mole {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

h2.score-text {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

span#score {
    margin-left: 5px;
}

#score-area {
    margin: 0 20px 20px 20px;
}

#start-button {
    color: #fff;
    background-color: #000000;
    margin: 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 0;
        font-size: 25px;
    }

    .mole-logo {
        margin: 0 10px 0 0;
        width: 15%;
    }

    .sub-text {
        font-size: 17px;
        margin: 0 0 15px 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 220px;
        height: 220px;
        margin: 10px;
    }

    #score-area {
        margin: 5px 10px 0;
        font-size: 80%;
    }

    #start-button {
        background-color: #000000;
        margin: 20px;
        padding: 10px;
        width: 100px;
        height: 30px;
        font-size: small;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Media query: larger and landscape phones (576px and up) */
@media screen and (min-width: 480px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 4em;
    }

    .sub-text {
        font-size: 2em;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 70px;
        width: 500px;
        height: 500px;
        margin: 70px;
    }

    #score-area {
        margin: 20px;
        font-size: 2em;
    }

    #start-button {
        background-color: #000000;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heading {
        margin: 30px;
    }

    .sub-text {
        font-size: 2em;
        margin: 20px 0 0 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 70px;
        width: 700px;
        height: 700px;
        margin: 90px;
    }

    #score-area {
        margin: 0 0 20px 0;
        font-size: 2em;
    }

    #start-button {
        background-color: #000000;
        margin: 20px;
        padding: 10px;
        width: 200px;
        height: 60px;
        font-size: x-large;
        border-radius: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heading {
        margin: 10px;
    }

    .sub-text {
        font-size: 2em;
        margin: 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        width: 550px;
        height: 550px;
        margin: 40px;
    }

    #score-area {
        margin: 0 0 20px 0;
        font-size: 2em;
    }

    #start-button {
        background-color: #000000;
        margin: 0 20px 20px;
        padding: 10px;
        width: 200px;
        height: 60px;
        font-size: x-large;
        border-radius: 10px;
    }
  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .heading {
        font-size: 4em;
        margin: 0;
    }

    .sub-text {
        font-size: x-large;
        margin: 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        width: 500px;
        height: 500px;
        margin: 40px;
    }

    #score-area {
        margin: 0 0 10px 0;
        font-size: x-large;
    }

    #start-button {
        background-color: #000000;
        margin: 10px;
        width: 150px;
        height: 40px;
        font-size: large;
        border-radius: 10px;
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 3em;
        margin: 10px 0 0 0;
    }

    .sub-text {
        font-size: x-large;
        margin: 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        width: 400px;
        height: 400px;
        margin: 30px;
    }

    #score-area {
        margin: 0 0 10px 0;
        font-size: large;
    }

    #start-button {
        background-color: #000000;
        margin: 10px;
        width: 150px;
        height: 40px;
        font-size: large;
        border-radius: 10px;
    }
  }