/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General page styles */
body {
    font-family: 'Inter', sans-serif;
    background-color: #b45f06;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

/* Header section */
.mole-logo {
    margin: 0 15px 0 0;
    max-width: 8%;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
}

/* Game arena section */
.game-arena {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 300px;
    height: 300px;
    margin: 30px;
}

.hole {
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    overflow: hidden;
}

.hole.active {
    background-color: #9900FF;
}

.mole {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

/* Feedback message */
#feedback {
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-over-message {
    font-size: small;
    margin: 15px 0 5px;
}

/* Score section */
h2.score-text {
    display: flex;
    justify-content: center;
    margin: 0 0 10px 0;
}

span#score {
    margin-left: 5px;
}

#score-area {
    margin: 0 20px 20px 20px;
}

#level {
    font-size: small;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-weight: bold;
}

h3.high-score-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: small;
}

span#high-score {
    margin-left: 5px;
}

/* Timer to count down in 30 seconds */
p.timer-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

#timer {
    font-weight: bold;
    margin-left: 5px;
}

/* Footer section */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
}

#start-button {
    color: #fff;
    background-color: #000000;
    margin: 0 20px 20px;
    padding: 10px;
    border-radius: 10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0 10px 0;
        font-size: 25px;
    }

    .mole-logo {
        margin: 0 10px 0 0;
        max-width: 10%;
    }

    .sub-text {
        font-size: x-small;
        margin: 0 40px 15px 40px;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
        width: 200px;
        height: 200px;
        margin: 10px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #score-area {
        margin: 5px 10px 0;
        font-size: 80%;
    }

    #start-button {
        background-color: #000000;
        padding: 10px;
        width: 100px;
        height: 25px;
        font-size: small;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Media query: larger and landscape phones (576px and up) */
@media screen and (min-width: 480px) {
    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 4em;
    }

    .sub-text {
        font-size: 2em;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 70px;
        width: 500px;
        height: 500px;
        margin: 70px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #score-area {
        margin: 20px;
        font-size: 2em;
    }

    #start-button {
        background-color: #000000;
        margin: 20px;
        padding: 10px;
        border-radius: 10px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .heading {
        margin: 30px;
    }

    .sub-text {
        font-size: 2em;
        margin: 20px 0 0 0;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 70px;
        width: 700px;
        height: 700px;
        margin: 90px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #score-area {
        margin: 0 0 20px 0;
        font-size: 2em;
    }

    #start-button {
        background-color: #000000;
        margin: 20px;
        padding: 10px;
        width: 200px;
        height: 60px;
        font-size: x-large;
        border-radius: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .heading {
        margin: 10px 0 0 0;
        font-size: xxx-large;
    }

    .sub-text {
        font-size: large;
        margin: 0 60px;
        padding: 0 30px;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 40px;
        width: 450px;
        height: 450px;
        margin: 40px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #game-over-message {
        font-size: larger;
        margin: 0 0 15px 0;
    }

    #score-area {
        margin: 0 0 10px 0;
        font-size: 2em;
    }

    h2.score-text {
        display: flex;
        justify-content: center;
        margin: 0 0 10px 0;
        font-size: xx-large;
    }

    p.timer-text {
        font-size: x-large;
    }

    #level {
        font-size: large;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-weight: bold;
    }

    h3.high-score-text {
        font-size: large;
        margin: 15px;
    }

    #start-button {
        background-color: #000000;
        margin: 0 20px 20px;
        padding: 10px;
        width: 150px;
        height: 50px;
        font-size: large;
        border-radius: 10px;
    }
  } 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .game-arena {
        gap: 40px;
        width: 500px;
        height: 500px;
        margin: 40px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #game-over-message {
        font-size: larger;
        margin-bottom: 15px;
    }

    #score-area {
        margin: 0 0 10px 0;
        font-size: x-large;
    }

    #start-button {
        background-color: #000000;
        margin: 10px;
        width: 150px;
        height: 40px;
        font-size: large;
        border-radius: 10px;
    }
  }

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .heading {
        font-size: 3em;
        margin: 10px 0 0 0;
    }

    .mole-logo {
        margin: 0 20px 0 0;
    }

    .sub-text {
        font-size: large;
    }

    .game-arena {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 30px;
        width: 450px;
        height: 450px;
        margin: 30px;
    }

    /* Feedback message */
    #feedback {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #game-over-message {
        font-size: larger;
        margin-bottom: 15px;
    }

    #score-area {
        margin: 0 0 10px 0;
        font-size: large;
    }

    #level {
        font-size: large;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000000;
        font-weight: bold;
    }

    h3.high-score-text {
        font-size: large;
    }

    #start-button {
        background-color: #000000;
        margin: 5px 0 10px 0;
        width: 150px;
        height: 50px;
        font-size: large;
        border-radius: 10px;
    }
  }

/* 404 Page Styles */
body.error-page {
    background-color: #b45f06;
    color: #000000;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    text-align: center;
    padding: 20px;
}

header.error-page-header .header {
    margin-top: 50px;
}

header.error-page-header .header {
    font-size: 2.5em;
    color: #ff6f61;
}

header.error-page-header .sub-text {
    font-size: 1.2em;
    color: #555555;
    margin-bottom: 20px;
}

/* Error message section */
.error-message h2{
    font-size: 2em;
    color: #333333;
    margin: 20px 0;
}

.error-message p {
    font-size: 1em;
    color: #000000;
    margin: 10px 0 30px;
}

/* Navigation section */
.navigation {
    margin-top: 20px;
}

.navigation .home-link {
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.navigation .home-link:hover {
    background-color: #e85850;
}

/* Footer section */
footer.error-page-footer {
    margin-top: 50px;
    color: #aaaaaa;
    font-size: 0.9em;
}

#copyright {
    margin-top: 10px;
}